body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 2em;
    background-color: #333;
    color: #fff;
}

header img {
    width: 150px;
    border-radius: 50%;
    background-size:contain;
}

section {
    padding: 2em;
    margin: 1em 0;
}

#contact {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
}

#projects {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
}

.project {
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
}

.project:last-child {
    border-bottom: none;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}
